
<h2 class="text-center">Page contact </h2>

<form>
  <div class="mx-auto" style="width: 400px;" form-group">
    <label for="formGroupExampleInput">Envoie nous un message on te répond ASAP ;) </label>
    <input type="text" class="form-control" id="formGroupExampleInput" Ton prénom="Example input">
  </div>
  <div class="mx-auto" style="width: 400px;form-group">
    <label for="formGroupExampleInput2">Ton message</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
</br>
  <button type="button" class="btn btn-outline-primary btn-block "mx-auto" style="width: 200px;">Envoyer</button>
  </div>
</form>
